.vjs-marker-hitbox,
.vjs-marker {
    position: absolute;
    width: 0.5rem;
    height: 100%;
}

.vjs-marker {
    background-color: rgba(0,0,0,.8);
}

.vjs-marker-hitbox {
    z-index: 1;
}

.vjs-marker-hitbox .tooltip {
    visibility: hidden;
    width: 8rem;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -4rem;

    opacity: 0;
    transition: opacity 0.3s;
}

.vjs-marker-hitbox .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,.8) transparent transparent transparent;
}

.vjs-marker-hitbox:hover .tooltip {
    visibility: visible;
    opacity: 1;
}