.breadcrumb-horizontal {
	clear: both;
	font-size: 18px;
	min-height: 28px;
	margin: 0 0 20px 0;
	line-height: 20px; padding-left: 0;
	background-image: url("../images/home.png");
	background-repeat: no-repeat;
	background-position: left 1px;
}