@font-face {
  font-family: "TheSansUHHItalic";
  src: url("../fonts/TheSansUHHRegularItalic.eot");
  src: url("../fonts//TheSansUHHRegularItalic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TheSansUHHRegularItalic.woff2") format("woff2"),
  url("../fonts/TheSansUHHRegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TheSansUHHBoldItalic";
  src: url("../fonts/TheSansUHHBoldItalic.eot");
  src: url("../fonts/TheSansUHHBoldItalic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TheSansUHHBoldItalic.woff2") format("woff2"),
  url("../fonts/TheSansUHHBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TheSansUHHBold";
  src: url("../fonts/TheSansUHHBold.eot");
  src: url("../fonts/TheSansUHHBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TheSansUHHBold.woff2") format("woff2"),
  url("../fonts/TheSansUHHBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHHBoldCaps";
  src: url("../fonts/TheSansUHHBoldCaps.eot");
  src: url("../fonts/TheSansUHHBoldCaps.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TheSansUHHBoldCaps.woff2") format("woff2"),
  url("../fonts/TheSansUHHBoldCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHHRegular";
  src: url("../fonts/TheSansUHHRegular.eot");
  src: url("../fonts/TheSansUHHRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TheSansUHHRegular.woff2") format("woff2"),
  url("../fonts/TheSansUHHRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHH";
  src: url("../fonts/TheSansUHHRegular.eot");
  src: url("../fonts/TheSansUHHRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TheSansUHHRegular.woff2") format("woff2"),
  url("../fonts/TheSansUHHRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHHRegularCaps";
  src: url("../fonts/TheSansUHHRegularCaps.eot");
  src: url("../fonts/TheSansUHHRegularCaps.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TheSansUHHRegularCaps.woff2") format("woff2"),
  url("../fonts/TheSansUHHRegularCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheSansUHHSemiLightCaps";
  src: url("../fonts/TheSansUHHSemiLightCaps.eot");
  src: url("../fonts/TheSansUHHSemiLightCaps.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TheSansUHHSemiLightCaps.woff2") format("woff2"),
  url("../fonts/TheSansUHHSemiLightCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}