.navbar {
	flex-wrap: wrap !important
}

#navigation {
	height: 45px;
	padding: 0 0px 0 20px;
	width: 100%;
	align-items: center;
	top: 0;
	position: fixed;
	z-index: 40;
	
	#navigationTitle {
		align-self: center;
	
		a {
			font-family: $font-family-bold-caps;
			font-size: $h4-font-size;
			color: $secondary-color;
		}
	}
	
	#language {
		align-self: center;
		
		.portlet {
			margin-bottom: 0px
		}
	
		.portlet-content {
			padding: 0;
			border: none;
			border-radius: 0;
			background-color: $primary-color;
		}
			
		a,span {
			font-size: $h4-font-size;
			color: $secondary-color;
		}
		
		a {
			font-family: $font-family-semi-light-caps;
		}
		
		span {
			font-family: $font-family-bold-caps;
		}
	}
	
	#search {
		cursor: pointer;
		span {
			content: "";
			height: 45px;
			width: 50px;
			float: left;
			background-color: $primary-color;
			background-image: url("../images/UHH_web_lupe_31x31.png");
			background-position: center;
			background-repeat: no-repeat;
		}
		
		&.closeSearch span {
			background-image: url("../images/UHH_Icon-x_31x31.png");
			border-left: 1px solid $secondary-color;
			border-right: 1px solid $secondary-color;
		}
	}
	
	#menu {
		cursor: pointer;
		span {
			height: 45px;
			width: 50px;
			float: left;
			background-color: $primary-color;
			background-image: url("../images/UHH_web_hamburger-menu_31x31tiny.png");
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	
	#menu.closeMenu span {
		background-image: url("../images/UHH_Icon-x_31x31.png");
		border-left: 1px solid $secondary-color;
	}
	
	#navigationCollapse {
		background-color: $primary-color;
		overflow: hidden;
		position: fixed;
		bottom: 0;
		width: 100%;
		max-width: 420px;
		z-index: 100000;
		height: calc(100% - 45px);
		border-top: 1px solid $secondary-color;
		
		right: -420px;
		transition: opacity 0.25s,right 0.1s;
		opacity: 0;
		
		&.show {
			right: 0;
			opacity: 1;
		}
		
		.nav-item, .navbar-company {
			border-bottom: 1px solid $secondary-color;
			
			a {
				height: 45px;
				padding: 10px 10px 10px 14%;
				font-family: $font-family-semi-light-caps;
				font-size: $h3-font-size;
				color: $secondary-color;
				
				span {
					font-family: $font-family-semi-light-caps;
				}
				
				.lfr-nav-child-toggle {
					float: right;
					background-color: $primary-hover-color-light;
					height: 45px;
					width: 50px;
					position: absolute;
					top: 0;
					right: 0;
					text-align: center;
					padding-top: 10px;
					
					&::after {
						content: ">";
						color: $secondary-color;
					}
				}
				
				.lexicon-icon {
					display: none;
				}
			}
			
			a:hover {
				background-color: $secondary-color !important;
				color: $primary-color !important;
				text-decoration: none;
			}
			
			.child-menu {			
				a {
					padding: 10px 10px 10px 14%;
				}
				
				a:hover {
					background-color: $secondary-color !important;
					color: $primary-color !important;
				}
			}
			
			&.open {
				.lexicon-icon {
					display: block;
					margin-left: 16px;
					margin-top: 6px;	
				}
				
				.lfr-nav-child-toggle::after {
					display: none;
				}
			}
		}
		
		.navbar-company > a {
			display: block;
			font-family: $font-family-bold-caps;
			padding: 10px 10px 10px 7%;
		}
		
		&.collapsing {
			transition: none;
		}
	}
	
	#menuCover {
		position: fixed;
		top: 45px;
		right: 0;
		bottom: 0;
		background: $primary-color;
		z-index: 99999;
		transition: opacity 0.25s,left 0s;
		left: 100%;
		opacity: 0;
		
		&.show {
			left: 0;
			opacity: 0.3;
		}
	}
}

#navigationDesktop {
	margin-bottom: $global-margin-md;
	display: none;
	z-index: 40;
	
	&.sticky {
		position: fixed;
		top: 0;
		background: $secondary-color;
		left: 0;
		right: 0;
	}
	
	.lexicon-icon {
		display: none;
	}
	
	.nav-item {
		margin-left: 36px;
		
		> a {
			color: $dark-color;
			font-family: $font-family-bold-caps;
			font-size: $large-font-size;
			text-transform: uppercase;
			padding: 0;
		}
	}
	
	.nav-item:first-child {
		margin-left: 0;
	}
	
	.child-menu {
		overflow: hidden;
		display: block;
		opacity: 0;
		max-height: 0;
		min-height: 0;
		padding: 0;
		transition: padding 0s 0.15s, max-height 0.15s ease-out, opacity 0.15s 0.15s ease-out;
		width: 410px;
		max-width: 410px;
		margin-top: 0;
		margin-left: -50px;
		background-color: $secondary-color;
		position: absolute;
		border: none;
		border-radius: 0;
		box-shadow: none;
		
		li {
			clear: left;
			float: left;
			width: 100%;
			border-bottom: 1px solid $border-color;
		}
		
		a {
			color: $dark-color;
			font-family: $font-family-bold-caps;
			font-size: $h2-font-size;
			line-height: 30px;
			padding: 20px 0;
			margin: 0 -20px 0 0;
		}
		
		a:hover {
			color: $primary-color;
			background-color: $secondary-color;
		}
		
		li:not(:last-child) > a {
			padding-right: 25px;
		}
	}
	
	#desktopSearch {
		width: 100%;
		span {
			cursor: pointer;
			content: "";
			height: 45px;
			width: 50px;
			float: right;
			background-color: $primary-color;
			background-image: url("../images/UHH_web_lupe_desktop_grau.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			margin-left: $global-margin-lg;
		}
		
		&.closeSearch span {
			background-image: url("../images/UHH_web_lupe_desktop_blau.png");
		}
	}
}

#navigationDesktop .nav-item:hover {
	span {
		color: $primary-color;
	}

	.child-menu {
		opacity: 1;
		max-height: 100vh;
		padding: 30px 70px 35px 50px;
		transition: padding 0s, max-height 0.25s ease-in, opacity 0.25s ease-in;
	}
}

#desktopSearchCollapse {
	height: 45px;
	background: none;
	position: inherit;
	margin-top: -12px;
	margin-bottom: 12px;
	padding: 0;
	border: none;
	
	&>span {
		height: 42px;
		width: 50%;
		border: 1px solid $primary-color;
		float: right;
		margin-right: 12px;
	}
	
	&.sticky {
		position: fixed;
		top: 57px;
		left: 0;
		right: 0;
	}
}

.sticky ~ .sticky-margin {
	padding-bottom: 65px;
}

.sticky.show ~ .sticky-margin {
	padding-bottom: 100px;
}

.searchCollapse {
	left: 0;
	top: 45px;
	position: fixed;
	width: 100%;
	z-index: 100000;
	border-top: 1px solid $secondary-color;
	transition: opacity 0.25s;
	opacity: 0;
	
	&.show {
		opacity: 1;
	}
	
	.input-text-wrapper {
		width: 100%;
	}
	
	&.collapsing {
		transition: none;
	}
}

@include media-breakpoint-up(lg) {
	#navigation #navigationTitle, #search, #menu {
		display: none;
	}
	
	#navigation {
		position: relative;
		height: 30px;
		
		a {
			font-size: $h4-font-size;
			font-family: $font-family-semi-light-caps; 
		}
	}
	
	#navigationDesktop {
		display: flex !important;
	}
}

@include media-breakpoint-down(md) {
	#navigation .navbar-nav {
		flex-direction: column !important;
	}
}