.site-header {
	padding-bottom: $global-padding-lg;
	padding-top: $global-padding-lg;
	position: relative;
	margin-top: 45px;

	.header-site-names {
		position: absolute;
		bottom: 0;
		right: 0;
		padding-bottom: $global-padding-lg;
		padding-top: $global-padding-lg;
		padding-right: 12px;
		font-size: $h1-font-size;
		line-height: 1.1em;
		@include media-breakpoint-down(md) {
			line-height: 1.25em;
			font-size: $h4-font-size;
		}
		
		b {
			letter-spacing: 1px;
			font-family: $font-family-bold-caps;
			font-weight: normal;
			color: $dark-color;
			@include media-breakpoint-down(md) {
				color: $font-color;
			}
		}
		
		.site-description {
		    font-family: $font-family-semi-light-caps;
			max-width: 300px;
			@include media-breakpoint-down(md) {
				display:none;
			}
		}
	}
	
	.logo img {
		height: 88px;
		width: auto;
		@include media-breakpoint-down(md) {
			height: 44px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.site-header {
		padding-top: 0;
		margin-top: $global-margin-xx-lg;
		padding-bottom: $global-padding-xx-lg;
		
		.header-site-names {
			padding-bottom: $global-padding-xx-lg;
			padding-top: $global-padding-xx-lg;
		}
	}
}