.catalogue-container {
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;

  &.row {
    flex-direction: row-reverse;
  }

  .panel-default {
    border: 0;
  }

  .panel {
    margin-bottom: $global-padding-lg;
  }

  .panel-body {
    padding: 15px 18px 3px 27px;

    ul.creators {
      display: none;
    }

    a.load-more-link:hover {
      cursor: pointer;
      color: #004ad7;
      text-decoration: underline;
    }

    .firstCharacterSelector {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -16px 10px -25px;

      span {
        color: $light-color;
      }

      a, span {
        display: block;
        padding: 0 0.3em;
        font-weight: bold;

        &.selected {
          color: $secondary-color;
          background: $font-color;
          padding: 0 0.6em;
          margin: 0 0.3em;
        }
      }
    }
  }

  .badge {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    color: $secondary-color;
    width: 31px;
    height: 31px;
    background: linear-gradient(to top right, transparent 0%, transparent 50%, black 50%, black 100%);
    border-radius: 0;
    border: 0;
    right: 0;
    margin-left: auto;

    @include media-breakpoint-down(sm) {
    	height: 62px;
    	width: 62px;
    	font-size: $h1-font-size;
    }
  }

  .videolist {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -23px;

    button {
      color: $primary-color;
      background: transparent;
      border: 0;

      .icon-chevron-down::before {
      	content: "\f078" !important;
      }

      @include media-breakpoint-down(sm) {
	      i::before {
	        font-size: 30px;
	      }
	  }
    }

    ul {
      width: 100%;
      padding-inline-start: $global-padding-lg;
      @include media-breakpoint-down(md) {
        padding-inline-start: $global-padding-sm;
      }
    }
  }

  .videotile {
  	cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: $global-padding-lg 0;

    .allcreators {
      font-family: $font-family-default;
    }

    &.small {
    	border-top: 1px solid $border-color;

    	.video-image-wrapper {
    		width: 50%;
    	}

    	.term-of-creation-mobile {
    		font-family: $font-family-bold;
    		color: $primary-color;
    		padding-right: 0;
    		float: right;
    	}

    	@include media-breakpoint-up(md) {
    		.term-of-creation-mobile {
    			display: none;
    		}
    	}

    	@include media-breakpoint-down(sm) {
    		.metainfo-small {

    			.title-small {
    				flex: none;
    				max-width: none;
    			}

    			.term-of-creation {
    				display: none;
    			}
    		}
    	}
    }

    &:hover {
    	background-color: $border-color;
    }
  }

  .term-of-creation {
    margin-left: auto;
    text-align: end;
  }

  .title-small {
    font-family: $font-family-bold;
  }

  .video-image-big {
    box-shadow: 4px 4px 0 0px #535252, 8px 8px 2px 0px $border-color;
  }

  .video-image-wrapper {
	padding-left: 0;
  }

  .lfr-search-container {
    overflow: hidden;
  }

  .taglib-search-iterator-page-iterator-top {
    display: none;
  }
}