.titel {
  font-family: $font-family-bold-caps;
  color: #fff;
  background-color: #027bcb;
  font-size: $h2-font-size;
}

a {
  color: $font-color;
}

img {
  width: 100%;
}

.video-label {
  display: flex;
  font-weight: bold;
  color: $dark-blue;
  padding: $global-padding-sm 0;
  font-family: $font-family-bold-caps;
  font-size: $h3-font-size;

  a {
    padding-right: $global-padding-sm;
    color: $dark-blue;
  }
}

.video-title {
  font-size: $h2-font-size;
  color: $font-color;
  font-family: $font-family-bold;
}

.no-gutters {
  padding: 0 !important;
  margin: 0 !important;
}

.panel-toggle {


  .title-text {
    margin-left: 30px;
  }
}

.toggler-header-collapsed:after, .toggler-header-expanded:after {
  content: "";
  position: absolute;
  width: $icon-size;
  height: $icon-size;
  top: 35%;
}

.toggler-header-collapsed:after {
  background-image: url("../images/plus-blau.svg");
}

.toggler-header-expanded:after {
  background-image: url("../images/minus-weiss.svg");
}
