.front-page-teaser {
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;

  .bg-video-container {
    position: absolute;
    width: 100%;
    height: 100%;

    #bg-vid {
      width: 100%;

      @media only screen and (max-width: $mobile-screen-portrait) {
        height: 100%;
        width: auto;
      }
    }

    #vid-control {
      color: white;
    }
  }

  .l2go-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $global-padding-lg;

    .l2go-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .l2go-title {
        background-color: white;
        opacity: 0.8;
        padding: $global-padding-lg;
        font-size: $h2-font-size;
        font-family: $font-family-bold;
        text-align: center;
      }

      .form-group {
        margin: 0;
      }

      .l2go-subtitle {
        font-size: $h3-font-size;
        font-family: $font-family-bold;
        color: white;
        z-index: 0;

        @media only screen and (max-width: $mobile-screen-portrait) {
          display: none;
        }
      }

      .form-control {
        border-radius: 0;

        @media only screen and (max-width: $mobile-screen-portrait) {
          display: none;
        }
      }

      #outer-catalogue-button {
        background-color: $light-blue;
        border: none;
        color: $button-text-color;
        padding: $global-padding-lg;
        z-index: 0;
        font-size: $h4-font-size;
        font-family: $font-family-bold-caps;

        &:hover {
          background-color: $dark-blue;
        }
      }
    }
  }
}

#front-page-content {
  padding: $global-padding-lg 0 $global-padding-lg 0;

  h2 {
    margin: $global-padding-lg;
  }
}

.video-box-list {
  display: flex;


  .video-box {
    background-color: white;
    height: $video-box-height;

    .video-label {
      padding: $global-padding-lg 0 0 $global-padding-md;

      .date {
        padding-left: $global-padding-sm;
      }
    }
  }
}

.carousel-control-next, .carousel-control-prev {
  height: $video-box-height / 4;
  width: $video-box-height /8;
  margin: 1rem;
  background: white;
  top: 40%
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: $control-icon-size;
  height: $control-icon-size;
}

.carousel-control-prev-icon {
  background-image: url("../images/arrow_left_blue.png");
}

.carousel-control-next-icon {
  background-image: url("../images/arrow_right_blue.png");
}