.front-page-teaser {
  position: relative;
  height: 380px;
  padding: 0;
  border: 2px solid red;
  margin-bottom: $global-margin-lg;
  overflow: hidden;

  .bg-video-container {
    border: 2px dotted purple;

    #bg-vid {
      position: absolute;
      height: 100%;
    }
  }

  .l2go-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed green;
    margin: $global-padding-lg;

    .l2go-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .l2go-title {
        background-color: white;
        opacity: 0.8;
        padding: $global-padding-lg;
        font-size: $title-font-size;
        text-align: center;
      }

      .form-group {
        margin: 0;
      }

      .l2go-subtitle {
        color: white;
        z-index: 0;

        @media only screen and (max-width: $mobile-screen-portrait) {
          display: none;
        }
      }

      .form-control {
        border-radius: 0;

        @media only screen and (max-width: $mobile-screen-portrait) {
          display: none;
        }
      }

      #outer-catalogue-button {
        background-color: $button-color;
        border: none;
        color: $button-text-color;
        padding: $global-padding-lg;
        z-index: 0;

        &:hover {
          background-color: $button-hover-color;
        }
      }
    }
  }
}

#front-page-content {
background-color: red;

}