.front-page-teaser {
  position: relative;
  height: 380px;
  padding: $global-padding-lg 0 $global-padding-lg 0;
  border: 2px solid red;
  overflow: hidden;
  background-color: red;

  .bg-video-container {
    border: 2px dotted purple;
    position: absolute;
    width: 100%;

    #bg-vid {
      width: 100%;
    }

    #vid-control {
      //display:none;
      color: white;
    }
  }

  .l2go-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $global-padding-lg;

    .l2go-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .l2go-title {
        background-color: white;
        opacity: 0.8;
        padding: $global-padding-lg;
        font-size: $h4-size;
        font-weight: 700;
        text-align: center;
      }

      .form-group {
        margin: 0;
      }

      .l2go-subtitle {
        color: white;
        z-index: 0;

        @media only screen and (max-width: $mobile-screen-portrait) {
          display: none;
        }
      }

      .form-control {
        border-radius: 0;

        @media only screen and (max-width: $mobile-screen-portrait) {
          display: none;
        }
      }

      #outer-catalogue-button {
        background-color: $light-blue;
        border: none;
        color: $button-text-color;
        padding: $global-padding-lg;
        z-index: 0;
        font-size: 16px;

        &:hover {
          background-color: $dark-blue;
        }
      }
    }
  }
}

#front-page-content {
  padding: $global-padding-lg 0 $global-padding-lg 0;
  background-color: blueviolet;
  border: 2px dashed blueviolet;

  h4 {
    margin: $global-padding-lg;
  }
}

.video-box-list {
  background-color: green;
  display: flex;


  .video-box {
    background-color: salmon;
    margin: $global-margin-lg;

    .date {
      margin-top: $global-margin-sm;
      color: $dark-blue;
      font-weight: 900;
    }

    .title-small {
      font-size: $h3-size;
      color: $font-color;
      font-weight: 500;
    }

    a {
      color: $font-color;
    }
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: $control-icon-size;
  height: $control-icon-size;
}