// colors
$primary-color: #027bcb;
$primary-hover-color: #006ab0;
$primary-hover-color-light: #449cd5;
$secondary-color: #fff;
$font-color: #4e4e4e;
$shadow-color: #faf9f9;
$border-color: #ddd;
$dark-color: #333;
$signal-color: #e3001b;

//paddings
$global-padding-sm: 0.25rem;
$global-padding-md: 0.5rem;
$global-padding-lg: 1rem;
$global-padding-x-lg: 1.5rem;
$global-padding-xx-lg: 2rem;

//margins
$global-margin-sm: 0.25rem;
$global-margin-md: 0.5rem;
$global-margin-lg: 1rem;
$global-margin-x-lg: 1.5rem;
$global-margin-xx-lg: 2rem;

// font-families
$font-family-default: TheSansUHH, sans-serif;
$font-family-regular-caps: TheSansUHHRegularCaps, sans-serif;
$font-family-semi-light-caps: TheSansUHHSemiLightCaps, sans-serif;
$font-family-bold: TheSansUHHBold, sans-serif;
$font-family-bold-caps: TheSansUHHBoldCaps, sans-serif;

$large-font-size: 25px;
$medium-font-size: 20px;
$h1-font-size: 24px;
$h2-font-size: 22px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 14px;

// misc
$icon-size: 20px;
$control-icon-size: 70px;
$video-box-height: 450px;