//colors
$body-bg: #FFF;
$bright-color: #1865FB;
$complementary-color: #30313F;
$dark-color: #272833;
$input-bg: #F1F2F5;
$light-color: #E7E7ED;


$font-color: #4e4e4e;

$light-blue: #027bcb;
$dark-blue: #006ab0;
$button-text-color: white;

//paddings
$global-padding-sm: 0.25rem;
$global-padding-md: 0.5rem;
$global-padding-lg: 1rem;

//margins
$global-margin-sm: 0.25rem;
$global-margin-md: 0.5rem;
$global-margin-lg: 1rem;
$global-margin-x-lg: 1.5rem;

//font-size
$h1-size: 2.5rem;
$h2-size: 2rem;
$h3-size: 1.8rem;
$h4-size: 1.5rem;
$p-size: 1rem;

$lead-font-weight: 400;
$small-font-size: 0.875rem;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;

//screen-sizes
$mobile-screen-portrait: 768px;


$control-icon-size: 75px


