$body-bg: #FFF;
$bright-color: #1865FB;
$complementary-color: #30313F;
$dark-color: #272833;
$input-bg: #F1F2F5;
$light-color: #E7E7ED;

$lead-font-weight: 400;
$small-font-size: 0.875rem;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;