//colors
$body-bg: #FFF;
$bright-color: #1865FB;
$complementary-color: #30313F;
$dark-color: #272833;
$input-bg: #F1F2F5;
$light-color: #E7E7ED;


$font-color: #4e4e4e;

$header-font-black: #333;

$light-blue: #027bcb;
$dark-blue: #006ab0;
$button-text-color: white;
$toggle-collapsed-color: #faf9f9;

//paddings
$global-padding-sm: 0.25rem;
$global-padding-md: 0.5rem;
$global-padding-lg: 1rem;

//margins
$global-margin-sm: 0.25rem;
$global-margin-md: 0.5rem;
$global-margin-lg: 1rem;
$global-margin-x-lg: 1.5rem;

// font-families
$font-family-default: TheSansUHH, sans-serif;
$font-family-regular-caps: TheSansUHHRegularCaps, sans-serif;
$font-family-semi-light-caps: TheSansUHHSemiLightCaps, sans-serif;
$font-family-bold: TheSansUHHBold, sans-serif;
$font-family-bold-caps: TheSansUHHBoldCaps, sans-serif;

$h2-font-size: 24px;


$lead-font-weight: 400;
$small-font-size: 0.875rem;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;

//screen-sizes
$mobile-screen-portrait: 575.98px;


$control-icon-size: 35px


