@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';
@import "components/breadcrumb";
@import "components/color";
@import "components/group-item";
@import "components/info-panel";
@import "components/header";
@import "components/navigation";
@import "components/footer";
@import "components/sidebar";
@import "components/splitter";
@import "components/table";
@import "components/widget";
@import "components/fonts";
@import "portlet/portlet";
@import "portlet/portlet_decorators";
@import "components/front-page";
@import "components/video-catalog";

.btn-group + .info-panel {
	@include media-breakpoint-up(md) {
		top: auto;
	}
}

h1, h2, h3, h4, h5 {
    font-family: $font-family-regular-caps;
}

h2 {
	font-size: 24px;
}

body {
	font-family: $font-family-default;
	@extend .text-font-color;
}

li a {
	font-family: $font-family-bold;
}

.autofit-col-expand {
	min-width: 0;
}
