body {
	font-family: $font-family-default;
	color: $font-color;
}

h1, h2, h3, h4, h5 {
    font-family: $font-family-regular-caps;
    font-weight: normal;
}

h1 {
	font-size: $h1-font-size;
	margin-top: $global-margin-lg;
	margin-bottom: $global-margin-lg;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

a {
  color: $font-color;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.colored-bullets {
	list-style-type: none;
	font-size: $h4-font-size;
	padding-left: 30px;
	padding-top: 0;
	margin-bottom: 0;
	
	li:before {
		content: ' ';
		background: $signal-color;
		position: absolute;
		width: 6px;
		height: 6px;
		margin-left: -24px;
		margin-top: 9px;
	}
}

table, thead, tbody, th, td, tr {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
}

.table {
	&.table-bordered {
		border: none;
		
		tr:first-child {
			margin-top: 0
		}
		
		td {
			border: none;
			border-bottom: 1px solid $border-color;
			background-color: $secondary-color !important;
		}
	}
}

canvas {
  max-width: 100%;
}

.btn-group + .info-panel {
	@include media-breakpoint-up(md) {
		top: auto;
	}
}

.autofit-col-expand {
	min-width: 0;
}

.titel {
  font-family: $font-family-bold-caps;
  color: $secondary-color;
  background-color: $primary-color;
  font-size: $h2-font-size;
}

.no-gutters {
  padding: 0 !important;
  margin: 0 !important;
}

.headline {
	font-size: 34px;
	@include media-breakpoint-down(sm) {
		font-size: 30px;
	}
}